button {
	min-width: 100px;
	height: auto;
	box-sizing: border-box;
	padding: 14px 15px;
	font-family: 'Proxima Nova', 'Arial', sans-serif;
	cursor: pointer;
	border-radius: 3px;
	transition: all ease 250ms;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	background-color: #57bda7;
	border: 1px solid #57bda7;
}
button:disabled {
	opacity: 0.7;
	pointer-events: none;
}
button:hover {
	color: #57bda7;
	background-color: #FFF;
}

button.Primary {
	color: #fff;
	background-color: #57bda7;
	border: 1px solid #57bda7;
}
button.Primary:hover {
	color: #57bda7;
	background-color: #FFF;
}

button.Secondary {
	color: #57bda7;
	background-color: #FFF;
	border: 1px solid #57bda7;
}
button.Secondary:hover {
	color: #FFF;
	background-color: #57bda7;
}

button.LightGreen {
	color: #058471;
	background-color: #c1f6eb;
	border: 1px solid #c1f6eb;
}
button.LightGreen:hover {
	color: #4cb9a3;
	background-color: #FFFFFF;
	border: 1px solid #4cb9a3;
}

button.NoBG {
	color: #FFFFFF;
	background-color: transparent;
	border: 1px solid transparent;
}
button.NoBG:hover {
	color: #4cb9a3;
	background-color: #FFFFFF;
}
