.flag {
  width: 70px;
  height: 70px;
  border: solid 0.5px #707070;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  flex: 0 1 auto;
}

.flag.Norway {
	background-image: url('https://s3.amazonaws.com/static.myregistry.com/cm/ManagerMisc/Flag.jpg');
}